.quickpost-info {
    margin-top: 16px;
    text-align: center;
    padding: 0 15px;
    color: #7B8BA5;
}
.history-box {
    padding: 24px 20px;
    max-width: 460px;
    margin: auto;
    .check {
        color: $success;
        font-weight: bold;
    }
    .close {
        color: $error;
        font-weight: bold;
    }
    .info {
        font-weight: 300;
        color: $success;
        font-size: 24px;
        span {
            font-size: 28px;
        }
    }
    .delete {
        position: absolute;
        right: 0;
        bottom: 3px;
        color: $light;
        cursor: pointer;
        transition: .2s;
    }
    .delete:hover {
        color: $error;
        transform: scale(1.1);
    }
    .title {
        font-weight: 300;
        font-size: 24px;
        margin: 24px 0;
    }
    .messages-box {
        .message {
            border-bottom: 1px solid $light;
            position: relative;
            .message-title {
                padding: 20px 0;
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;
            }
            .arrow {
                position: absolute;
                top: 25px;
                transform: rotate(180deg);
                right: 0;
            }
            .open {
                transform: rotate(0);
            }
            .message-info {
                display: flex;
                justify-content: space-between;
                .left {
                    font-size: 13px;
                    font-weight: 400;
                    display: flex;
                    align-items: center;
                    .img {
                        width: 60px;
                        height: 48px;
                        border-left: 1px solid $light;
                        img {
                            width: 48px;
                            border-radius: 24px;
                            margin: 0 6px;
                        }
                    }
                }
                .right {
                    font-size: 13px;
                    display: flex;
                    align-items: flex-start;
                    img {
                        width: 17px;
                    }
                }
            }
            .message-content {
                padding: 8px 0;
            }
        }
    }

}