@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Source+Sans+Pro:wght@300;400;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #324B72;
}

.history-box {
  padding: 24px 20px;
  max-width: 460px;
  margin: auto;
}

.history-box .info {
  font-weight: 300;
  color: #50C878;
  font-size: 24px;
}

.history-box .title {
  font-weight: 300;
  font-size: 24px;
  margin: 24px 0;
}

.history-box .messages-box .message {
  border-bottom: 1px solid #E0E0E0;
}

.history-box .messages-box .message .message-title {
  padding: 20px 0;
  font-size: 14px;
  font-weight: 600;
}

.history-box .messages-box .message .message-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.history-box .messages-box .message .message-info .left {
  font-size: 13px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.history-box .messages-box .message .message-info .left .img {
  width: 60px;
  height: 48px;
  border-left: 1px solid #E0E0E0;
}

.history-box .messages-box .message .message-info .left .img img {
  width: 48px;
  border-radius: 24px;
  margin: 0 6px;
}

.history-box .messages-box .message .message-info .right {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.history-box .messages-box .message .message-content {
  padding: 8px 0;
}

.new-message-box {
  padding: 24px 20px;
  max-width: 460px;
  margin: auto;
}

.new-message-box h1 {
  font-weight: 300;
  width: 175px;
}

.new-message-box form {
  font-size: 14px;
}

.new-message-box form p {
  font-size: 12px;
  height: 20px;
}

.new-message-box form label {
  display: block;
  margin: 4px 0;
}

.new-message-box form > input {
  width: 100%;
  margin: 8px 0;
  padding: 12px 16px;
  outline: none;
  border-radius: 8px;
  border: 1px solid #E0E0E0;
}

.new-message-box form textarea {
  width: 100%;
  min-height: 140px;
  padding: 12px 16px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #E0E0E0;
  font-family: 'Source Sans Pro', sans-serif;
}

.new-message-box form .custom-select .vs__search::-webkit-input-placeholder,
.new-message-box form .custom-select .vs__dropdown-toggle,
.new-message-box form .custom-select .vs__dropdown-menu {
  color: #7B8BA5;
  padding: 4px;
}

.new-message-box form .custom-select .vs__search:-ms-input-placeholder,
.new-message-box form .custom-select .vs__dropdown-toggle,
.new-message-box form .custom-select .vs__dropdown-menu {
  color: #7B8BA5;
  padding: 4px;
}

.new-message-box form .custom-select .vs__search::-ms-input-placeholder,
.new-message-box form .custom-select .vs__dropdown-toggle,
.new-message-box form .custom-select .vs__dropdown-menu {
  color: #7B8BA5;
  padding: 4px;
}

.new-message-box form .custom-select .vs__search::placeholder,
.new-message-box form .custom-select .vs__dropdown-toggle,
.new-message-box form .custom-select .vs__dropdown-menu {
  color: #7B8BA5;
  padding: 4px;
}

.new-message-box form .custom-select .vs__search {
  margin: 0;
}

.new-message-box form .custom-select .vs__clear {
  background: white;
  border-radius: 8px;
  padding: 0;
}

.new-message-box form .custom-select .vs__dropdown-toggle {
  border-radius: 8px;
  padding: 5px;
  margin: 8px 0;
}

.new-message-box form .custom-select .vs__clear,
.new-message-box form .custom-select .vs__open-indicator {
  fill: #7B8BA5;
  margin-right: 16px;
}

.new-message-box form .intergalaxy-quickpost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 8px 0;
}

.new-message-box form .intergalaxy-quickpost input[type=checkbox] {
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 24px;
  height: 24px;
  border: 1px solid #E0E0E0;
  text-align: center;
  content: "";
  font: normal 11px/14px Arial, Sans-serif;
  vertical-align: middle;
}

.new-message-box form .intergalaxy-quickpost input[type=checkbox]::before {
  content: "\2714";
  font-size: 23px;
  color: white;
  line-height: 24px;
}

.new-message-box form .intergalaxy-quickpost input[type=checkbox]:checked::before {
  font-size: 23px;
  color: #4EADC5;
}

.new-message-box form .intergalaxy-quickpost label {
  margin-left: 9px;
  font-size: 14px;
  font-weight: 600;
}

.new-message-box form button {
  padding: 10px 20px;
  border-radius: 20px;
  color: #FFFFFF;
  background: #4EADC5;
  margin: 8px 0;
  font-size: 16px;
  border: none;
  float: right;
}

.new-message-box form .error {
  color: #DE212B;
}

.new-message-box form .input-error {
  border: 1px solid #DE212B;
}

.new-message-box form .input-error::-webkit-input-placeholder {
  color: rgba(222, 33, 43, 0.4);
}

.new-message-box form .input-error:-ms-input-placeholder {
  color: rgba(222, 33, 43, 0.4);
}

.new-message-box form .input-error::-ms-input-placeholder {
  color: rgba(222, 33, 43, 0.4);
}

.new-message-box form .input-error::placeholder {
  color: rgba(222, 33, 43, 0.4);
}

header {
  border-bottom: 24px solid #4EADC5;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  max-width: 1000px;
  margin: auto;
}

header nav .logo {
  margin: 16px 20px;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  padding: 10px 16px;
}

header nav ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #324B72;
}

header nav ul li:hover {
  background-color: #4EADC5;
}

header nav ul li:hover a.router-link-active {
  color: #FFFFFF;
}

@media (min-width: 768px) {
  header nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=style.css.map */